.app {
  width: 100%;
  font-family: sans-serif;
  text-align: center;
}

.todo-list {
  width: 80%;
  margin: 0 auto;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ebebeb;
  padding: 0 10px;
}

.todo button {
  height: 30px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
}

.todo p,
.todo input {
  font-size: 14px;
  margin: 16px 0;
}

.todo button.delete {
  background-color: red;
  color: #fff;
}
.todo button.edit {
  background-color: green;
}

.todo-form {
  width: 80%;
  padding: 10px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.todo-form input {
  padding: 5px;
  margin: 5px 0;
}
